{% if not present %}
	<div class="alert alert-info">Looks like your battery is not plugged in. Please, insert your battery and refresh the page.</div>
{% elif not capacity or not power_cord %}
	<div class="alert alert-warning">Information about your battery is not available.</div>
{% else %}
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{ capacity }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ capacity }}%;">
			{{ capacity }}%, {{ power_cord }}
		</div>
	</div>
{% endif %}
